.chat-container {
    padding-bottom: 5px;
}

.author {
    color: rgb(14, 22, 99);
    font-style: italic;
}

.client {
    color: rgb(201, 60, 109);
    font-style: italic;
}

.alert {
    color: red;
}